<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<h1>Projekte</h1>
<table>
    <thead>
    <tr>
        <th>Nummer</th>
        <th>Name</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projects}">
        <td th:text="${project.id}"></td>
        <td th:text="${project.name}"></td>
        <td th:text="${project.status}"></td>
        <td>
            <form th:if="${!project.isActive()}" action="#" th:action="@{/projects/{projectId}/activate(projectId=${project.id})}" method="post">
                <input type="submit" value="Activate"/>
            </form>
            <form th:if="${project.isActive()}" action="#" th:action="@{/projects/{projectId}/deactivate(projectId=${project.id})}" method="post">
                <input type="submit" value="Deactivate"/>
            </form>
            <a th:href="@{/projects/{id}(id=${project.id})}">Details</a>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/projects/create}">Create new Project</a>

</html>